.container{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    margin-right: 5%;
}

.row{
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    width: 100%;
}