.container{
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-div{
  margin-top: 4%;
}

.mat-card{
  width: 40%;
}

.input{
  width: 100%;
}

.button{
  width: 100%;
  margin-top: 5%;
}