<div class="container">
    <div class="linha">
      <div class="opcoes">
        <mat-card class="card">
          <img mat-card-image src="../assets/images/despesas.jpg" alt="despesas">
          <mat-card-actions>
            <button mat-button (click)="onClickDespesas()">Visualize suas Despesas</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="opcoes">
        <mat-card class="card">
          <img mat-card-image src="../assets/images/bancos.jpeg" alt="bancos">
          <mat-card-actions>
            <button mat-button (click)="onClickBancos()">Visualize seus Bancos</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="opcoes">
        <mat-card class="card">
          <img mat-card-image src="../assets/images/cartoes.jpg" alt="cartoes">
          <mat-card-actions>
            <button mat-button (click)="onClickCartoes()">Visualize seus Cartões</button>
          </mat-card-actions>
        </mat-card>
      </div>
      
    </div>
  </div>